.float-left{
 float: left;
}

.float-right{
    float: right;
}

.video_watch{
 width:1200px;
 height: 450px;
 position: relative;
 background-color: black;
}

.loader{
 background-image: url('./images/icons/video_player/loader.gif');   
 background-repeat: no-repeat;
 background-position: center;
 background-size: auto 80%;
 position: absolute;
 width: 50px;
 height: 50px;
 top: 170px;
 left: 360px;
 display: none;
}

video{
 width:800px;
 height: auto;
}

.video_watch .control_bar{
 background-color: rgba(0, 0, 0, 0.795); 
 position: absolute;
 width: 100%;
 height: 10%;
 bottom: 0;
}

.video_btn{
 display: block;   
 width:40px;
 height:90%;   
 margin: 0 5px;
 cursor: pointer;
}

.video_btn:hover{
    background-color: rgba(255, 255, 255, 0.541);
}

.video_play{
 background-image: url('./images/icons/video_player/play_button.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: auto 80%;
}

.video_volume{
    background-image: url('./images/icons/video_player/volume_medium.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
}

.video_view{
    height: 100%;
}

.video_screen{
    background-image: url('./images/icons/video_player/full_screen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
}

.video_progress_bar{
 width: 100%;
 height: 10%; 
 background-color: rgba(209, 209, 209, 0.678);
 cursor: pointer;  
}

.video_loader{
 position: absolute;
 top: 0;
 left: 0;  
 width: 100%;
 height: 10%;
 background-color: aliceblue;
}

.video_progress{
 position: absolute;
 top: 0;
 left: 0;  
 width: 100%;
 height: 10%;
 background-color: rgb(255, 0, 0);  
}

/* .video_progress_bar:hover{
    height: 15%;
} */

.video_time{
 display: block;   
 cursor: default;
 color: #fff;
 font-size: 0.9;
 padding: 8px 5px;
}

.slider{
 background-color: rgba(240, 248, 255, 0.432);   
 width: 80px;
 height: 20%;
 margin:2% 0;
 cursor: pointer;
 margin-right: 10px;
 padding: 1px;
}

.slider_vol{
 width: 100%;
 background-color: red;   
 height: 100%;
 cursor: pointer;
}

/* music */

.music_section{
    width: 90%;
    height: 450px;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

.music_background{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    filter: blur(10px);

}

.music_poster{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;background-position: center;background-size: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* top: 0;
    left: 0; */
    margin-top: 75px;
    box-shadow: 0px 0px 10px black;
}

.commands_box{
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 80%;
  height: 80px; 
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.buttons_box{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.progress_box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar{
    width: 100%;
    background-color: var(--white_normal_color);
    height: 20px;
    border-radius: 20px;
}

.music_play_buttom{
    width: 40px;
    height: 40px;
    background-image: url('./images/icons/video_player/play_button.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
