
.mainSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 80px);
    height: calc(100vh - 110px);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}

.contactsSection{
    width: calc(30% - 40px);
    height: calc(100% - 40px);
    background-color: var(--bass_color);
    background-image: var(--containerEffect2);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

.contactsSection .addNewContactButton{
    width: 100%;
    height: 60px;
    background-color: var(--soloColor);
    background-image: var(--containerEffect2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contactsSection .contact{
    width: calc(100% - 20px);
    height: calc(70px - 20px);
    padding: 10px;
    background-color: var(--bassColorHover);
    /* background-image: var(--containerEffect2); */
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.contactsSection .contact:hover{
    background-color: black;
    transition: 0.2s;
}

.contactsSection .noContactsFound{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.contact .userIcon{
    width: 50px;
    height: 50px;
}

.contact h5{
    opacity: 0.5;
    margin-bottom: 10px;
}

.contact .moreIcon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 40px;
    transition: 0.2s;
}

.contact .moreIcon:hover{
    background-color: var(--bass_color);
    transition: 0.2s;
}

.chatSection{
    width: calc(70% - 20px);
    height: 100%;
    background-color: var(--bass_color);
    background-image: var(--containerEffect2);
    border-radius: 10px;
    display: block;
    position: relative;
    overflow-y: auto;
}

.chatSection .contactBox{
    width: calc(100% - 20px);
    height: 50px;
    background-color: black;
    background-image: var(--containerEffect2);
    position: absolute;
    top: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userIcon{
    background-image: url('../images/user-icon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.chatSection .contactBox .userIcon{
    width: 35px;
    height: 35px;
}

.chatSection .contactBox h5{
    color: gray;
}

.chatSection .chatBox{
    width: calc(100% - 20px);
    /* height: calc(50px - 20px); */
    min-height: calc(50px - 20px);
    max-height: calc(200px - 20px);
    background-color: black;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
}

.chatBox textarea{
    width: calc(100% - 100px - 20px);
    min-height: 40px;
    max-height: 180px;
    outline: none;
    resize: none;
    font-size: 17px;
    padding: 5px 20px 10px 0px;
    padding-left: 10px;
    border-radius: 10px;
    word-break: normal;
    box-sizing: border-box;
    overflow-y: hidden; /* Esconde a barra de rolagem vertical */
    transition: height 0.2s;
}

.chatBox .sendButton{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--soloColor);
    background-image: var(--containerEffect2), url('../images/send_icon.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.messagesBox{
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 50px;
    overflow-y: auto;
    display: block;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.messagesBox .userMessage{
    background-color: var(--soloColor);
    background-image: var(--containerEffect2);
    min-width: 100px;
    max-width: calc(50% - 40px - 19px);
    min-height: calc(60px - 40px);
    margin-left: 20px;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    display: inline-block;
    word-break: break-word;
    box-sizing: border-box;
}

.messagesBox .userMessage p{
    margin: 0;
    word-break: break-word;
}

.messagesBox .userMessage .date{
    width: 100px;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 10px;
}

.messagesBox .selfMessage .date{
    width: 100%;
    text-align: right;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 10px;
}

.messagesBox .selfMessage{
    background-color: black;
    background-image: var(--containerEffect2);
    min-width: 100px;
    max-width: calc(50% - 40px - 19px);
    min-height: calc(60px - 40px);
    margin-right: 20px;
    margin-left: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    float: right;
}

.messagesBox .noMessages{
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 10px);
    height: 300px;
    margin-top: 40px;
}

.messagesBox .noMessages .icon{
    width: 200px;
    height: 200px;
    background-image: url('../images/comment_icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.messagesBox .noMessages h3{
    width: 100%;
    text-align: center;
}

.addNewContactPopUp{
    width: calc(50% - 40px);
    height: calc(100% - 70px - 20px);
    background-color: var(--bass_color);
    background-image: var(--containerEffect2);
    border-radius: 10px;
    position: fixed;
    z-index: 5;
    top: 60px;
    left: calc((100vw - 50%)/2);
    padding:  10px 20px 10px 20px;
    display: none;
}

.addNewContactPopUp .closeIcon{
    width: 30px;
    height:30px;
    position:absolute;
    right: 20px;
    top:20px;
    cursor:pointer;
    transition:0.2s;
    border-radius: 30px;
}

.addNewContactPopUp .closeIcon:hover{
    background-color: black;
    border-radius: 30px;
    transition:0.2s;
}

.addNewContactPopUp .searchBox{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchBox input{
    width: 200px;
    height: calc(100% - 20px);
    outline: none;
    border-radius: 5px;
    border:0px;
    padding:5px;
    color: var(--darkTextColor);
}

.searchBox .searchButton{
    width:40px;
    height:40px
}

.searchContactsBox{
    width:calc(100% - 10px);
    height:calc(100% - 70px - 10px);
    margin-top: 10px;
    border:1px solid var(--soloColor);
    overflow-y:auto;
    padding:5px;
    border-radius:10px;
}

.searchContactsBox .contact{
    width: calc(100% - 40px);
    height: 70px;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 0px 20px 0px 20px;
    position: relative;
}

.searchContactsBox .contact .userIcon{
    width: 40px;
    height: 40px;
}

.searchContactsBox .contact .chatButton{
    width:100px;
    height:40px;
    background-color: var(--soloColor);
    background-image: var(--containerEffect2);
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    right:20px;
    top:15px;
    cursor:pointer;
}

.searchContactsBox .contact h4,.searchContactsBox .contact h5{
    height: auto;
    text-align: center;
    margin:0;
}

.searchContactsBox .noContactsFound{
    width: 100%;
    height: 300px;
}

.searchContactsBox .noContactsFound .notFoundIcon{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.searchContactsBox .noContactsFound h4{
    width: 100%;
    text-align: center;
}

