.editPortFolioBackground{
    /* background-color: rgb(54, 54, 54); */
    overflow-x: hidden;  
    overflow-y: hidden; 
}

.pagePreviewBox{
    width: calc(100% - 40px);height:calc(100vh - 70px);
    background-color: var(--bassColorHover);
    margin-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 20px 20px 20px;
}

.editPreview{
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    background-color: white;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 10px;
    border-radius: 20px;
}

.editPortfolioAction{
    width: auto;height:50px;
    background-color: var(--bass_color);
    border-radius: 20px;
    display: flex;align-items: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 10px;
}

.topBarEdit{
    width: calc(100% - 80px);
    height: 30px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;align-items: center;justify-content: space-between;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 3;
    padding: 0 20px;
}

.topBarEdit .topBarButtons{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.topBarEdit .topBarButtons .topBarButton{
    height: 100%;
    background-color: var(--soloColor);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.previewClicked{
    border:2px solid rgb(0, 174, 255);
    cursor: pointer;
    position: absolute;
    display: flex;
    width: 100px;height: 50px;
    z-index: 4;
    pointer-events: none;
}

.sizePoint{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px black;
    width: 10px;height: 10px;
    position: absolute;
    z-index: 5;
    border-radius: 20px;
    pointer-events: all;
    cursor:col-resize;
}

.previewSelected{
    border:1px solid orangered;
    position: absolute;
    display: none;
    z-index: 4;
    pointer-events: none;
}

.attributesPanel{
    width: 400px;
    height: 500px;
    background-color: var(--bass_color_blur);
    background-image: var(--containerEffect2);
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: 5;
    top: calc(50% - 250px);
    right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 20px;
}

.attributesPanel .closeButton{
    width: 30px;
    height: 30px;
    background-image: url('../images/close_icon_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.attributesPanel .attributeInputBox{
    margin-top: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.attributesPanel .attributeInputBox h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    width: 140px;
}

.attributesPanel .attributeInput{
    outline: none;
    width: calc(100% - 140px - 10px);
    background-color: transparent;
    border: 1px solid var(--whiteTextColor);
    border-radius: 3px;
    color: var(--whiteTextColor);
    padding: 5px;
}

.attributesPanel .attributeColorInput{
    outline: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--whiteTextColor);
    border-radius: 3px;
    color: var(--whiteTextColor);
}

.attributesPanel .attributeInputBox .itens{
    width: calc(100% - 140px - 10px);
    height: 40px;
    display: flex;
    gap: 10px;
    top: 30px;
}

.attributesPanel .dropDownButton{
    width: calc(100% - 140px - 10px);
    height: 100%;
    border: 1px solid var(--whiteTextColor);
    border-radius: 3px;
    display: flex;justify-content: space-between;align-items: center;
    padding-left: 5px;
    cursor: pointer;
}

.attributesPanel .dropDownButton::after{
    content: '';
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--whiteTextColor);
    margin-right: 5px;
    transition: transform 0.2s;
}

.attributesPanel .dropDownButton.open::after {
    transform: rotate(180deg);
}

.dropDown{
    width: calc(100% - 140px - 10px);
    max-height: 150px;
    background-color: var(--bass_color);
    background-image: var(--containerEffect2);
    border: 1px solid var(--whiteTextColor);
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 6;
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

.dropDownElement{
    width: calc(100% - 5px);
    height: 40px;
    display: flex;align-items: center;gap: 10px;
    padding-left: 5px;
    cursor: pointer;
    color: var(--whiteTextColor);
}

.dropDownElement:hover{
    background-color: var(--bassColorHover);
}

.dropDownElement .fontIcon{
    width: 30px;
    height: 30px;
    background-color: var(--whiteTextColor);
    color: var(--darkTextColor);
    border-radius: 3px;
    display: flex;align-items: center;justify-content: center;
    font-size: 20px;
}

.dropDownElementSelected{
    background-color: var(--soloColor);
}

.dropDownElementSelected:hover{
    background-color: var(--soloColorHover);
}

.iconButton{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--whiteTextColor);
    border-radius: 5px;
    cursor: pointer;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.activeIconButton{
    border: 2px solid var(--soloColor);
    background-color: var(--soloColor);
}

.algnLeftIcon{
    background-image: url('../images/format_align_left_icon.png');
}
.algnCenterIcon{
    background-image: url('../images/format_align_center_icon.png');
}
.algnRightIcon{
    background-image: url('../images/format_align_right_icon.png');
}

.portfolioFormBox{
    width: 700px;
    height: auto;
    background-color: var(--bass_color);
    background-image: var(--containerEffect);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}


.portfolioFormBox h2{
    width: 100%;
    margin: 0px;
    color: var(--soloColor);
}

.portfolioFormBox .attribute{
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
}

.portfolioFormBox .attributeDescription{
    width: 100%;
    height: 150px;
    display: flex;
    position: relative;
    align-items: top;
    margin-top: 10px;
    margin-bottom: 60px;
}

.portfolioFormBox .attribute h3,.portfolioFormBox .attributeDescription h3 {
    width: 150px;
    margin: 0px;
}

.portfolioFormBox .attribute input, .portfolioFormBox .attributeDescription textarea{
    width:100%;
    height: calc(100% - 20px);
    resize: none;
    outline: none;
    color: var(--darkTextColor);
    padding: 5px;
    font-size: 18px;
}

.portfolioFormBox .attributeDescription textarea{
    width:100%;
    height: calc(100% - 20px);
    resize: none;
    outline: none;
}

.portfolioFormBox .submitButton{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--soloColor);
    color: var(--whiteTextColor);
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;justify-content: center;
    cursor: pointer;
}

.inactiveSubmitButton{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    color: var(--whiteTextColor);
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;justify-content: center;
    cursor: not-allowed;
}

.portfolioFormBox .dzIcon{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-image: url('../images/Du-Zilla-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolioFormBox .accountFormBox{
    width: calc(100% - 10px);
    height: calc(50px - 10px);
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--bassColorHover);
    border-radius: 10px;
    position: relative;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.portfolioFormBox .accountFormBox .icon{
    background-image: url('../images/user-icon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;height: 30px;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

.portfolioFormBox .accountFormBox .accountName, .portfolioFormBox .accountFormBox .accountId{
    margin: 0;
    padding: 0;    
}
.portfolioFormBox .accountFormBox .accountId{
    margin: 0;
    padding: 0;
    color: var(--grayTextNormalColor);
    
}

.portfolioFormBox .formSignBox{
    width: calc(100% - 40px);
    height: calc(200px - 40px);
    background-color: var(--bassColorHover);
    border-radius: 20px;
    position: relative;
    padding: 20px;
}

.portfolioFormBox .formSignBox h2{
    width: 100%;
    height: 50px;
    text-align: center;
}

.portfolioFormBox .formSignBox .formSignButtons{
    width: calc(100% - 120px);
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.portfolioFormBox .formSignBox .formSignButtons .signInButton,.portfolioFormBox .formSignBox .formSignButtons .signUpButton{
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.portfolioFormBox .notVerifiedAccount{
    width: calc(100% - 10px);
    height: calc(100px - 10px);
    background-color: var(--bass_color);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolioFormBox .notVerifiedAccount .warningIcon{
    width: 40px;
    height: 40px;
    background-image: url('../images/yellow_alert_icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolioFormBox .notVerifiedAccount h3{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--warningColor);
}