@import url('style.css');



.projectsSection{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin-top: 50px;
    padding: 20px;
    display: block;
}

.loadingProjectBox{
    width: 100% ;
    height: 200px;
    background-color: var(--bass_color);
    background-image: var(--containerEffect2);
    border-radius: 10px;
    margin-top: 20px; 
    opacity: 1;
    display: flex;
    justify-content: center;align-items: center;
}

.projectBox{
    width: calc(100% - 40px);
    min-height: calc(150px - 20px);
    max-height: calc(200px - 20px);
    background-color: var(--bass_color);
    background-image: var(--containerEffect2);
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

.projectBox .infoBox{
    height: 100%;
}

.projectBox .attribute{
    width: calc(120px - 20px);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: black;
    background-image: var(--containerEffect2);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.projectBox .infoBox .publicIcon{
    width: 20px;height: 20px;
    background-image: url('../images/public_icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projectBox .infoBox .publicOffIcon{
    width: 20px;height: 20px;
    background-image: url('../images/public_off_icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolioPreview{
    width: 100vw;
    height: 100vh;
    position: absolute;
    scale: 0.4;
    pointer-events: none;
    margin: 0;
}

.projectBox .infoBox .attributeText{
    margin-bottom: 10px;
}

.projectBox .thunbMainBox{
    scale: 0.65;
    margin-right: -60px;
}

.createNewPortfolioButton{
    width: calc(100% - 20px);
    height: calc(50px - 20px);
    background-color: var(--soloColor);
    background-image: var(--containerEffect2);
    border-radius: 5px;
    color: var(--whiteTextColor);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.createNewPortfolioButton .icon{
    width: 30px;height: 30px;
    background-image: url('../images/add_box_icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}